<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ng-repeat</title>
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <h1>ng-repeat</h1>
    <div class="" ng-controller="ShoppingListController">
        <!-- <h2>Shopping List</h2>
        <ul>
            <li ng-repeat="x in shoppingLists1">{{ x }}</li>
        </ul> -->
        
        <!-- <h2>Shopping List #2</h2>
        <ul>
            <li ng-repeat="item in shoppingList2">Buy {{ item.quantity }} of {{ item.name }}</li>
        </ul> -->

        <h2>Shopping List #3</h2>
        <input type="text" name="" ng-model="shoppingList2[0].quantity" id="">
        <ul>
            <li ng-repeat="item in shoppingList2">{{ $index+1 }}. Buy {{ item.quantity }} of {{ item.name }}</li>
        </ul>
        Item Name <input type="text" name="" ng-model="itemName" id=""> <br>
        Item Qunatity <input type="text" name="" ng-model="itemQuantity" id=""> <br>
        <button ng-click="addItem()">Add Item</button>
    </div>
</body>
</html>