<!DOCTYPE html>
<html lang="en" ng-app="DirectiveApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Directives with Transclude</title>
    <script src="jquery.js"></script>
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <h1>Directives with Transclude</h1>
    
    <div class="display">
        <!--List 1 (unlimited items)  -->
        <div id="list1" ng-controller="ShoppingListController1 as list">
            <input type="text" name="" placeholder="Name Of Item" ng-model="list.itemName" id="">
            <input type="text" name="" placeholder="Quantity Of Item" ng-model="list.itemQuantity" id="">
            <button ng-click="list.addItem()">Add Item</button>
            <span>{{ list.lastRemove }}</span>

            <div class="">
                
            </div>
            <shopping-list id="list1"
                             items="list.items" 
                            title="{{ list.title }}" 
                            bad-remove="list.removeItem"
                            on-remove="list.removeItem(index)">
                            <span class="warning">WANING! WANING! {{ list.warning }}</span>
                        </shopping-list>
            

            <shopping-list id="list2"
                             items="list.items" 
                            title="{{ list.title }}" 
                            bad-remove="list.removeItem"
                            on-remove="list.removeItem(index)">
                        
                            <div>
                                <div class="title">OH THE HORROR!</div>
                                <div class="">{{ list.warning }}</div>
                            </div>


                        </shopping-list>

        </div>

        <!-- List #2 (limited to 3 items) -->
        <!-- <div id="list2" ng-controller="ShoppingListController2 as list">
            <h3></h3>
            <input type="text" name="" placeholder="Name Of Item" ng-model="list.itemName" id="">
            <input type="text" name="" placeholder="Quantity Of Item" ng-model="list.itemQuantity" id="">
            <button ng-click="list.addItem()">Add Item</button>

            <shopping-list my-list="list" title="Shopping List #2 (limited to 3)"></shopping-list>
            <div class="error">Error: {{ list.errorMessage }}</div>
        </div> -->
    </div>
    
</body>
</html>