<h3>Title: {{ list.title }}</h3>
<ol>
    <li ng-repeat="item in list.items">
        <list-item-description></list-item-description>
        <!-- <button ng-click="list.badRemove($index)">Bad Removed Item</button> -->
        <button ng-click="list.onRemove({index: $index});">Remove Item</button>
    </li>
</ol>
<!-- <div class="error" style="font-weight:700;" ng-if="list.cookiesList()">WANING!!! WANING!!! COOKIES OR CHIPS DETECTED</div> -->
<!-- <div class="error">OH HORROR! COOKIES DETECTED</div> -->
<div class="error" ng-transclude></div>