<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Services</title>
</head>
<body>
    <h1>Custom Services</h1>
    <div class="" ng-controller="ShoppingListController as itemAdder">
        <input type="text" name="" ng-model="itemAdder.itemName" id="" placeholder="Item Name">
        <input type="number" name="" ng-model="itemAdder.itemQuantity" id="" placeholder="Item Quantity">

        <button ng-click="itemAdder.addItem()">Add Items To Shopping List</button>
    </div>
</body>
</html>