<!DOCTYPE html>
<html lang="en" ng-app="CounterApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digest Cycle</title>
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <h1>Digest Cycle</h1>
    <div class="" ng-controller="CounterController">
        <button ng-click="showNumberOfWatches()">Log # Of Watches</button>

        <div class="">
            <!-- Another way of Digest Loop -->
            <input type="text" name="" ng-model="name" id="">
            <button ng-click="countOnce()">Up once Count</button>
            <button ng-click="upCounter()">Increament Counter</button>
        </div>
        <div class="">
            Once Counter {{ onceCounter }} <br>
            Regular Counter {{ counter }}
        </div>
    </div>
</body>
</html>